.navbar a
{
    font-weight: bolder;
    color: black;
}
.navbar .active
{
    color: #7fad39 !important;
}
.pages .dropdown-menu
{
    display: none;
}
.pages:hover .dropdown-menu
{
    display: block;
}
.list-unstyled a
{
    color: black;
    text-decoration: none;
}
.list-unstyled li
{
    padding: 4px;
}
.f:hover
{
    background-color: #7fad39 !important;
    color: white !important;
}
.nav-pills .nav-link
{
    color: black !important;
    background-color: white !important;
}
.h
{
    display: none;
}
.d:hover .h
{
    display: block;
}

.page-link{
    color:darkgray !important;
}

.nav-tabs .nav-link
{
    color: black !important;
}